.resource {
    padding: 0 100px 0 115px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 26px;
}
.resource-block {
    flex-wrap: wrap;
    margin-bottom: 14px;
}
.resource-line span {
    margin-left: 0;
}
.resource.white {
    color: #fff;
}

.nav__link.active:last-child {
    color: #333;
}
.nav__link[data-submenu]:last-child:after {
    border-top-color: #fff;
}
.nav__link.active[data-submenu]:last-child:after,
.nav__link[data-submenu]:last-child:hover:after {
    border-top-color: #333;
}
.navigation:after {
    left: calc(50% + 428px);
}

.navigator {
    margin-left: -23px;
    display: block;
}
.navigator-item {
    width: 300px;
    height: 492px;
    margin-left: 23px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}