.nav__link.active:last-child {
    color: #333;
}
.nav__link[data-submenu]:last-child:after {
    border-top-color: #fff;
}
.nav__link.active[data-submenu]:last-child:after,
.nav__link[data-submenu]:last-child:hover:after {
    border-top-color: #333;
}
.navigation:after {
    left: calc(50% + 428px);
}